<!DOCTYPE html>

<html lang="en">
<head>
   <title>Calculator</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
   <div id="calc">
      <div id="content">

     <form method="POST" action="/calculator">

        <div id="output">
           <input type="text" id="res" value="{{ expression }}" readonly>
        </div>

        <input type="hidden" name="expression" value="{{ expression }}">

        <div class="btn">

           <button type="submit" name="button" value="C" id="clear">C</button>
           <button type="submit" name="button" value="back" id="backspace">?</button>
           <button type="submit" name="button" value="/">/</button>
           <br>

           <button type="submit" name="button" value="7">7</button>
           <button type="submit" name="button" value="8">8</button>
           <button type="submit" name="button" value="9">9</button>
           <button type="submit" name="button" value="*">x</button>
           <br>

           <button type="submit" name="button" value="4">4</button>
           <button type="submit" name="button" value="5">5</button>
           <button type="submit" name="button" value="6">6</button>
           <button type="submit" name="button" value="-">-</button>
           <br>

           <button type="submit" name="button" value="1">1</button>
           <button type="submit" name="button" value="2">2</button>
           <button type="submit" name="button" value="3">3</button>
           <button type="submit" name="button" value="+">+</button>
           <br>

           <button type="submit" name="button" value="00">00</button>
           <button type="submit" name="button" value="0">0</button>
           <button type="submit" name="button" value=".">.</button>
           <button type="submit" name="button" value="=">=</button>

        </div>
     </form>

  </div>

   </div>
</body>
</html>

